.facebookSocialActions{
    height: 65px;
    text-align: left;
}

.actionsList{
    margin-top: 45px;
}

.facebookSocialContent{
    height: 55px;
    border: 1px solid #e1e8ed;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
}

.facebookSocial{
    border: 1px solid #e1e8ed;
    background: white;
    border-radius: 5px;
    padding: 10px;
}
.facebookSocial b{
    color: #365899 !important;
}
.left-img{
    float:left;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

